*{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
.container{
	width: auto;
	height: auto;
	background: #42455a;
	
}
.menu ul{
	display: inline-flex;
	margin:50px;
}
.menu ul li{
	list-style: none;
	margin:0 20px;
	color: white;
	cursor: pointer;

}
.logo img{
	width: 80px;
	margin-top: -35px;
	margin-right: 38px;
}
.active{
	color: blue !important;
}
.sign-btn {
	top:40px;
	right:80px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#42455a,#42455b),radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin: border-box;
	background-clip: content-box,border-box;
}
.log-btn{
	top:40px;
	right:200px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#42455a,#42455b),radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin: border-box;
	background-clip: content-box,border-box;
}
.sign-btn span{
	display:block;
	padding: 8px 22px;
}
.log-btn span{
	display: block;
	padding: 8px 26px; 
}
.banner{
	width: 80%;
	height: 70%;
	top: 25%;
	left: 130px;
	position: absolute;
	color: #fff;
}
.app-text{
	width: auto;
	float:left;
}
.app_text h1{
	font-size: 43px;
	width: 640px;
	position: relative;
	margin-left: 40px;
}
.app_text p{
	font-size: 15px;
	width: 650px;
	margin: 30px 0 30px 40px;
	line-height: 25px;
	color: #919191;
}
.app-pic{
	width: 60%;
	float: right;
}
.app-pic img{
	width: 100%;
	margin-top: -20px;
	padding-left: 150px;
}
.quick-links{
	left: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to right, #db1bf6,#19d7f8);
}
.quick-links ul{
	display: inline-flex;
	margin: 20px auto;
	text-align: center;
}
.quick-links ul li{
	list-style: :none;
	margin: 0 50px;
	cursor: pointer;
}